# Cypress folder for screenshots and videos
cypress/screenshots/
cypress/videos/

# Cypress configuration files (if you use a specific environment)
cypress.env.json

# Node modules directory
node_modules/

# Log files
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Cypress output reports
cypress/reports/
mochawesome-report/

# Ignore any temporary files
*.tmp
*.temp

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Cache directories
.cache/
dist/
